<% layout('layouts/boilerplate') %>

<body>
  <h1 class="cardheading"><span>She</span> Dashboard</h1>
  <div class="dashboard">
  <div class="profilepic">
    <img src="<%= user.profilePic.url %>" alt="profile pic" />
    <p><%= user.username %>  <form action="/dashboard/edit" method="get">
        <button class="editdashboard"><i class="fa-solid fa-user-pen"></i></button></form></p>
   
  </div>
  <div class="userinfo">
    <h6>Email</h6>
    <p><%= user.email %></p>
  </div>
  <div class="userinfo">
    <h6>Hobbies</h6>
    <p><%= user.hobbies %></p>
  </div>
  <div class="userinfo">
    <h6>Age</h6>
    <p><%= user.age %> years</p>
  </div>
  <div class="userinfo">
    <h6>Story</h6>
    <p><%= user.story %></p>
  </div>
<% if(bookedRooms){ %>
<div class="userinfo ">
  <h2 class="bookedrooms">Booked Rooms</h2>
  <% bookedRooms.forEach(function(booking) { %>
    <div class="eachbooking">
      <div class="bookingImage">
        <img src="<%= booking.roomId.image.url %>" alt="">
      </div>
      <div class="bookingInfo">
        <h6><%= booking.roomId.title %></h6>
    <p> <%= booking.roomId.location %>,<%= booking.roomId.country %></p>
    <p><span>Check-In Date:</span> <%= booking.checkInDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }) %>
    </p>
    <p><span>Check-out Date:</span> <%= booking.checkOutDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }) %>
    </p>
    <form action="/cancel-booking/<%= booking._id %>" method="post">
      <button class="boxbtn">Cancel Booking</button>
    </form>
      </div>
    </div>
  <% }); %>
</div>
<% } %>
</div>

</body>
